.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.single-card {
  margin: 2rem 0;
}

.img {
  min-width: 100%;
  overflow: hidden;
}

.single-card {
  border: none;
}
