.game-details {
  margin-left: 13rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  padding: 0 5em;

  @media (max-width: 1100px) {
    margin-left: 6rem;
    padding: 0 3em;
  }
  @media (max-width: 900px) {
    margin-left: 0;
    margin-top: 4rem;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  // margin-bottom: 2rem;

  @media (max-width: 768px) {
    margin-bottom: 2rem;
  }
}

li:last-child {
  margin-top: 5rem;
  @media (max-width: 768px) {
    margin-top: 4rem;
  }
}

i.fas.icon {
  display: inline-block;
  margin-right: 1.5rem;
}
