select {
  padding: 0.5rem 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.7rem;
  border: 1px solid gray;
  font-size: 1.6rem;
  appearance: none;
}

label {
  font-weight: 600;
  color: #3f3f3f;
  height: min-content;
  margin-right: 10px;
}

select:hover {
  cursor: pointer;
}

.wrapper {
  width: 100%;
}

.innerWrapper {
  width: 70%;
  margin: 1rem auto;
  // background-color: rgba(79, 81, 195, 0.746)
  background-color: rgb(240, 240, 240);
  // background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
}

.submitBtn {
  background-color: rgb(218, 218, 218);
  padding: 0.8rem 4rem;
  border-radius: 0.7rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.8rem 3rem;
  border: 1px solid rgb(167, 167, 167);
  transition: 0.3s;
  margin-left: 2rem;
  // box-shadow: rgba(75, 75, 75, 0.144) 0px 1px 4px 1px;

  &:hover {
    border-color: gray;
    background-color: rgb(209, 209, 209);
  }
}

.slider {
  display: flex;
  align-items: center;

  span {
    font-size: 16px;
    padding-left: 10px;
  }
}
