select {
  padding: 0.8rem 4rem;
  background-color: rgb(241, 241, 241);
  border-radius: 0.7rem;
  border: none;
  font-size: 1.6rem;
  margin-top: 0.5rem;
  margin-right: 4rem;
  @media (max-width: 768px) {
    width: 100%;
  }
}

form input[type="submit"] {
  margin-top: 3rem;
}

label {
  font-weight: 600;
  color: #3f3f3f;
}

select:hover {
  cursor: pointer;
}

.form-grid {
  border-top: rgb(226, 226, 226) solid 1px;
  padding-top: 3rem;
  margin-top: 3rem;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: solid rgb(226, 226, 226) 1px;
    justify-content: center;
  }
}

.form-grid > * {
  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }
}
