select {
  font-size: 1.8rem;
  padding: 0.5rem 2rem;
  background-color: rgb(241, 241, 241);
  border-radius: 0.7rem;
  border: none;
}

select:hover {
  cursor: pointer;
}

.specific-search {
  display: flex;
  justify-content: space-between;
}

.form-grid {
  display: block;
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 1rem;

  //   @media (min-width: 768px) {
  //     grid-template-columns: repeat(2, 1fr);
  //   }
  //   @media (min-width: 1000px) {
  //     grid-template-columns: repeat(3, 1fr);
  //   }
  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
