.game-container {
  margin-top: 3rem;
  border-top: solid rgb(226, 226, 226) 1px;
}

.top-section {
  display: flex;
  margin-top: 3rem;
  img {
    max-width: 300px;
  }
  @media (max-width: 900px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.game-description {
  padding: 3rem 1rem;
  border-top: 1px rgb(194, 194, 194) solid;
  margin-top: 2rem;
  margin-bottom: 4rem;
  line-height: 1.8rem;
}

.game-header {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;

  button {
    height: min-content;
    margin-left: 1em;
  }
}
