.gameContainer {
  margin-top: 3rem;
  // background-color: gray;
}

.topSection {
  display: flex;
  margin-top: 3rem;
  img {
    max-width: 300px;
  }
  @media (max-width: 900px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.gameDescription {
  padding: 3rem 1rem;
  border-top: 1px rgb(194, 194, 194) solid;
  margin-top: 2rem;
  margin-bottom: 4rem;
  line-height: 1.8rem;
}

.gameHeader {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;

  button {
    height: min-content;
    margin-left: 1em;
    border: none;
    background: none;
    box-shadow: none;
    font-size: 18px;
  }
}
