.outter-container {
  width: calc(70% + 4rem);
  /* background-color: burlywood; */
  margin: auto;
}

.games-container {
  background-color: rgb(148, 173, 173);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.games-container > * {
  margin: 2rem;
}

.games-container::after {
  content: "";
  flex: auto;
}
